.propertyitem {
  margin: $phonepad 0;
  h3 {
    margin-top: 0;
    a {
      text-decoration: none;
      color: #000;
    }
  }
  & > div {
    @include susy-clearfix;
    @include respond-to(desktop){
      @include span(4 of 5 nest);
    }
  }
  & div > img {
    width: 100%;
    @include respond-to(tablet){
      @include span(3 of 6 nest);
    }
    @include respond-to(desktop){
      @include span(1 of 2 nest);
    }
  }
  &-text {
    @include respond-to(tablet){
      @include span(3 of 6 last);
    }
    @include respond-to(desktop){
      @include span(1 of 2);
    }
  }
  &-price {
    color: $defaultPopColour;
    font-size: 1.6em;
    margin: 10px 0;
  }

  //Eclipse config
  $lines-to-show: 6;
  &-info {
    display: -webkit-box;
    margin: 0 auto;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  aside {
    background: $bgColour;
    padding: 5px;
    margin: $tableypad 0;
    font-size: 0.8rem;
    @include respond-to(tablet){
      width: 100%;
      @include susy-clearfix;
    }
    @include respond-to(desktop){
      @include span(1 of 5 last);
    }
    & > div  {
      @include respond-to(tablet){
        @include span(1 of 6);
      }
    }
    img {
      @include respond-to(tablet){
        @include span(1 of 6 nest);
      }
    }
  }
}
