//Media Quries setting up
@mixin respond-to($media) {
  @if $media == smallscreen {
    @media only screen and (max-width: $break-small - 1) { @content; }
  }
  @if $media == tablet {
    @media only screen and (min-width: $break-small)  and (max-width: $break-large - 1) { @content; }
  }
  @if $media == desktop {
    @media only screen and (min-width: $break-large) { @content; }
  }
}



//Useage for responde-to mixin
//.profile-pic {
//	float: left;
//	width: 260px;
//	@include respond-to(keyboardout) { width: 100% ;}
//	@include respond-to(nexus5) { width: 125px; }
//	@include respond-to(tablet) { float: none; }
//}

$susy: (
        columns: 12,
        gutters: 1/5,
        math: fluid,
        output: float,
        gutter-position: inside,
);

$container-width: 100%;
