/*Imports*/
@import "~susy/sass/susy";
@import "vars";
@import "grid";
@import "typography/index";
@import "form/index";
@import "property/index";

* {
  box-sizing: border-box;
}

/*Body/Html*/
html {
  margin: 0;
  padding: 0;
}
body {
  padding: 0;
  margin: $phonepad;
  @include respond-to(tablet){
    margin: $tableypad;
  }
  @include respond-to(desktop){
    margin: $desktoppad;
  }
  font-size:100%;
  line-height:1.4em;
  color: darken($bgColour, 60%);
}

#zooApp {
  @include container;
}

// Pages
@import "search";
