/*Imports*/
@import "vars";
@import "typography/index";
@import "form/index";

* {
  box-sizing: border-box;
}

/*Body/Html*/
html {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
body {
  padding: 0;
  margin: 16px;
}

// Tablet
@media screen and (min-width: 500px) and (max-width: 786px){
  body {
    margin: $pad;
    font-size: 14px;
  }
}
