$searchWidth: 80px;
.searchResults {
  margin: $phonepad 0;
}
.searchBox {
  input {
    margin-right: 5px;
    width: calc(100% - 90px);
  }
  button {
    width: $searchWidth;
  }
}
.searchNoResults {
  display: none;
}

.searchTitles.noResults {
  .searchNoResults {
    display: block;
  }
  & > h1 {
    display: none;
  }
}
