// Core Colours
$text:                        #000;
$wtext:                       #FFF;
$defaultPopColour:            #ff5600;
$bgColour:                    #DDD;

// Widths
$phonepad: 16px;
$tableypad: 24px;
$desktoppad: 36px;


// breakpoints
$break-small: 768px;
$break-large: 1024px;

%clearfix {
  *zoom: 1;
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
